<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>测试</string>
	<string>同学</string>
	<string>开始的</string>
	<string>朋友</string>
	<string>雪</string>
	<string>可以的吧</string>
	<string>梦想与现实</string>
	<string>嘿嘿哈哈</string>
	<string>开心的</string>
	<string>玩耍小分队</string>
	<string>我也不知道</string>
	<string>回眸一笑百媚生</string>
</array>
</plist>
